body{
  background-color: #125B50;
  color: #FAF5E4;
}
.dashboard{
  display: flex;
}
.sider{
  width: 20%; 
  position: fixed; 
}
.sider h2 {
  margin-left: 10%;
}
.main{
  margin-left: 20%;
  margin-bottom: 10%;
  width: 75%;
  display: flex;
  flex-direction: column;
}

